<footer class="footer">
    <div class="footer_block">
        <div class="footer_icon">
            <a href="https://github.com/sebpy" title="Github" target="_blank"><img src="{{ url_for('static', filename='img/github.png') }}" class="icon_ft" alt="Github" /></a>
        </div>
        <div class="footer_icon">
            <a href="https://fr.linkedin.com/in/sebastien-fantinati-69a7a3a2" title="Linkendin" target="_blank"><img src="{{ url_for('static', filename='img/lin.png') }}" class="icon_ft" alt="Linkendin" /></a>
        </div>
        <div class="footer_icon">
            <a href="https://https://openclassrooms.com/" title="openclassrooms" target="_blank"><img src="{{ url_for('static', filename='img/openclassrooms.png') }}" class="icon_ft" alt="Linkendin" /></a>
        </div>
    </div>
    <div class="auteur">
        <span>2019 · Sébastien Fantinati.</span>
    </div>    
</footer>
