<div>
    <nav class="navbar navbar-inverse navbar-fixed-top nav-pills">
        <div class="container-fluid-nav">
            <div class="header">
                <!--<div class="logo"><img src="{{ url_for('static', filename='img/grandpy-round.png') }}" alt="GrandPy" /></div>-->
                <h1 class="ss_titre">- Le papy robot -</h1>
                <h1 class="titre">GRANDPY BOT</h1>
            </div>            
                <ul class="nav navbar-nav nav-pills" id="navigation">
                
                    <!--Active page is checked for bootstrap styling-->
                    <li class="active"><a href="/"><img src="{{ url_for('static', filename='img/grandpy-round-32.png') }}" width="20" alt="GrandPy" />   GrandPy Bot</a>
                    </li>
                
                    <!--Active page is checked for bootstrap styling-->
                    <li><a href="/about">A propos</a>
                    </li>
                
                </ul>
        </div>
    </nav>
</div>